<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0"
>
  <a routerLink="acceuil" class="navbar-brand d-flex align-items-center">
    <h1 class="m-0">
      <img src="../../../assets/logo/LOGO LIFILED.png" width="15%" alt="" />
    </h1>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-3 py-lg-0">
      <a routerLink="acceuil" class="nav-item nav-link active">Home</a>
      <a routerLink="nosActivites" class="nav-item nav-link">nos Activites</a>
      <a routerLink="nosRealisation" class="nav-item nav-link"
        >nos Realisation</a
      >
      <a routerLink="nosContact" class="nav-item nav-link">nos Contact</a>
    </div>
  </div>
</nav>
